@font-face {
  font-family: "creato-display";
  src: url("../fonts/creatodisplay-regular-webfont.woff2"), url("../fonts/creatodisplay-regular-webfont.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "creato-display";
  src: url("../fonts/creatodisplay-regularitalic-webfont.woff2"), url("../fonts/creatodisplay-regularitalic-webfont.woff");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "creato-display";
  src: url("../fonts/creatodisplay-medium-webfont.woff2"), url("../fonts/creatodisplay-medium-webfont.woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "creato-display";
  src: url("../fonts/creatodisplay-mediumitalic-webfont.woff2"), url("../fonts/creatodisplay-mediumitalic-webfont.woff");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "creato-display";
  src: url("../fonts/creatodisplay-bold-webfont.woff2"), url("../fonts/creatodisplay-bold-webfont.woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "creato-display";
  src: url("../fonts/creatodisplay-bolditalic-webfont.woff2"), url("../fonts/creatodisplay-bolditalic-webfont.woff");
  font-style: italic;
  font-weight: bold;
}
$font-family-sans-serif: "creato-display";
$font-weight-semibold: 500;
$primary: #213751;
$secondary: #4b5563;
$success: #019267;
$danger: #f3373f;
$warning: #ffe15d;
$info: #a6d1e6;
$light: #f9fafb;
$dark: #191d21;
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
.dataTables_processing {
  z-index: 1;
}
.grecaptcha-badge {
  visibility: hidden;
}
.scrolloff {
  pointer-events: none;
}

table.dataTable.table-striped > tbody > tr.odd.selected > *,
table.dataTable > tbody > tr.selected > * {
  box-shadow: inset 0 0 0 9999px $info !important;
  color: $primary !important;
}

table.dataTable.table-hover > tbody > tr.selected:hover > * {
  background-color: #c5dce8;
}
// Example: Hide starting at `min-width: 0`, and then show at the `sm` breakpoint
@include media-breakpoint-up(lg) {
  .sidebar-nav {
    width: 20%;
    height: calc(100vh - 64px);
    background-color: $gray-200;
    z-index: 1 !important;
  }
}

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
